// NOTIFICATION COLORS

.notification-friendship {
  color: #6d0085;
  background-color: #ecccff;
  border-color: #e3b8ff;
}

.notification-food {
  color: #008512;
  background-color: #d3ffcc;
  border-color: #bfffb8;
}

.notification-recipe {
  color: #008562;
  background-color: #ccffe0;
  border-color: #b8ffd9;
}

.notification-comment {
  color: #001685;
  background-color: #ccd3ff;
  border-color: #b8c6ff;
}

.notification-report{
  color: #850000;
  background-color: #ffccd2;
  border-color: #ffb8ba;
}

.notification-like{
  color: #853300;
  background-color: #ffe1cc;
  border-color: #ffcdb8;
}

.notification-user-info{
  color: #343434;
  background-color: #f6f6f6;
  border-color: #d9d9d9;
}

.notification-strike{
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}