#SHARED
cookbook-shared/node_modules

cookbook-shared/src/**/*.js
cookbook-shared/src/**/*.js.map

#CLIENT
cookbook-app/node_modules
cookbook-app/dist

cookbook-app/src/services/**/*.js
cookbook-app/src/services/**/*.js.map

cookbook-app/src/utils/**/*.js
cookbook-app/src/utils/**/*.js.map


#SERVER
cookbook-server/node_modules
cookbook-server/static/node_modules

cookbook-server/**/*.js
cookbook-server/**/*.js.map
