.idea
design
node_modules
cookbook-app/dist

modules/**/*.js
modules/**/*.js.map

cookbook-server/.env

cookbook-server/**/*.js
cookbook-server/**/*.js.map
cookbook-server/images

cookbook-app/src/api/*.js
cookbook-app/src/api/*.js.map

.todo