.idea
design
node_modules
cookbook-app/dist

modules/**/*.js
modules/**/*.js.map

cookbook-server/.env

cookbook-server/**/*.js
cookbook-server/**/*.js.map
cookbook-server/images
cookbook-server/videos

!cookbook-server/views/js/*.js

cookbook-app/src/api/**/*.js
cookbook-app/src/api/**/*.js.map

cookbook-app/src/modules/**/*.js
cookbook-app/src/modules/**/*.js.map

cookbook-app/src/socket/**/*.js
cookbook-app/src/socket/**/*.js.map

.todo
.env