<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/images/logo/favicon.ico">
    <title> <%=appName%> Server - HomePage</title>
    <!-- Bootstrap CSS -->
    <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

</head>
<body>
  <div class="d-flex justify-content-center vh-100 bg-primary">
      <div class="card align-self-center p-5">
          <div class="card-body text-center">
              <h1 class="text-primary font-italic">
                  <img src="/images/logo/light-logo.png" alt="<%=appName%>"/>
              </h1>
              <p><strong>Server is running ...</strong></p>
              <ul class="list-group">
                  <li class="list-group-item"><a  href="<%=routes.apiDocs%>">Documentation api</a></li>
                  <li class="list-group-item"><a href="<%=routes.signupAdmins%>">Signup Administrator</a></li>
              </ul>
          </div>
      </div>
  </div>
</body>
</html>
