<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Email Forgot Password</title>
</head>

<body>
    <div class='container-fluid'>
        <div class="col">
            <h1 class="app-name mt-5 mb-5"><%=app_name%></h1>
            <h1 class="mt-5 mb-5"> Reimpostare la password?</h1>
            <p>Gentile <strong class='to_user'><%=user_name%></strong>, <br /> se ha richiesto la reimpostazione della password, clicca sul pulsante sottostante. </p>
            <p>In caso contrario, ignora questa email.</p>
            <div class="mt-5 mb-5">
                <p><a id='link_change_password' class="btn btn-primary" href="<%=url%>">clicca qui</a> </p>
                <strong>ATTENZIONE: <p>Il link sarà valido solo per i 30 minuti successivi alla ricezione di questa email. </p></strong>
            </div>
            <p>Il Team <strong><%=app_name%></strong></p>
        </div>
    </div>
</body>

</html>