$background-color: #90BEFF82;
$nav-color: #0055bb;
$component-color: #007bff;
$footer-color: #0055bb;

$overlay: #00000076;
$comment-bg-color: #ffffff;
$comment-deleted-bg-color: #b4c2d0;
$comment-reported-bg-color: #dcdcdc;


$map-hover: #9B9B9B4C;
$map-select: #3a8ff3;


$background-color-chat: #eee;
$background-color-chat-header: $nav-color;
$background-color-my-message: $component-color;
$background-color-others-message: white;