//$background-color: #007bff
//$background-color: #7eb0ef;
//$nav-color: #007bff;

//$background-color: #8BEEFF89;
$background-color: #90BEFF82;
$nav-color: #0055bb;
$component-color: #007bff;
$footer-color: #0055bb;

$overlay: #00000076;
$comment-bg-color: #d0d2d5;
$comment-response-bg-color: #DEE0E3E2;