@import "vars";
@import "notification-colors";

.icon{
  cursor: pointer;
  &:focus {
    outline: none!important;
  }
}

.no-clickable {
  cursor: auto;
}

.mt-6 {
  margin-top: 6rem!important;
}
.mb-8 {
  margin-bottom: 8rem!important;
}

.sticky-bottom {
  position: fixed;
  height: 80px;
  bottom: 0;
  width: 100%;
}

button.rounded-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button.rounded-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button.no-rounded {
  border-radius: 0;
}

fieldset.bordered {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  & > legend {
    width: fit-content;
    padding-right: 5px;
    padding-left: 5px;
  }
}


/* FIXME: CSS ScrollBar NOT WORK FOR MOZILLA */
/* -- ScrollBar -- */
/* width */
::-webkit-scrollbar {
  width: 15px;
  z-index: 9999999;
  background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  $component-color;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #328ffc,  $component-color);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #328ffc,  $component-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;

}
