@import "vars";


.icon{
  cursor: pointer;
  &:focus {
    outline: none!important;
  }
}

.no-clickable {
  cursor: auto;
}

.mt-6 {
  margin-top: 6rem!important;
}
.mb-8 {
  margin-bottom: 8rem!important;
}

.sticky-bottom {
  position: fixed;
  height: 80px;
  bottom: 0;
  width: 100%;
}

button.rounded-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button.rounded-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button.no-rounded {
  border-radius: 0;
}

fieldset.bordered {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  & > legend {
    width: fit-content;
    padding-right: 5px;
    padding-left: 5px;
  }
}