$background-color: #90beff82;
$nav-color: #05b;
$component-color: #007bff;
$footer-color: #05b;
$overlay: #00000076;
$comment-bg-color: #fff;
$comment-deleted-bg-color: #b4c2d0;
$comment-reported-bg-color: #dcdcdc;
$map-hover: #9b9b9b4c;
$map-select: #3a8ff3;
$background-color-chat: #eee;
$background-color-chat-header: $nav-color;
$background-color-my-message: $component-color;
$background-color-others-message: white;
