$background-color: #90beff82;
$nav-color: #05b;
$component-color: #007bff;
$footer-color: #05b;
$overlay: #00000076;
$screen-extra-small: 400px;
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-extra-large: 1200px;

@import "chat";
