$scrollbar-width: 15px;
$scrollbar-border-radius: 10px;
$scrollbar-z-index: 9999999;
$sb-bg-color-thumb-start: #328ffc;
$scrollbar-bg-color-thumb: $component-color;
$scrollbar-bg-color-thumb-webkit: -webkit-linear-gradient(right, $sb-bg-color-thumb-start, $scrollbar-bg-color-thumb);
$scrollbar-bg-color-thumb-others: linear-gradient(to right, $sb-bg-color-thumb-start, $scrollbar-bg-color-thumb);
$sb-bg-color-track-start: #e2e2e2;
$scrollbar-bg-color-track: #c9d6ff;
$scrollbar-bg-color-track-webkit: -webkit-linear-gradient(right, $sb-bg-color-track-start, $scrollbar-bg-color-track);
$scrollbar-bg-color-track-others: linear-gradient(to right, $sb-bg-color-track-start, $scrollbar-bg-color-track);
